<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <!-- Official public NuGet registry -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!-- Personal GitHub Packages registry -->
    <add key="khangvum-nuget" value="https://nuget.pkg.github.com/khangvum/index.json" />
  </packageSources>
</configuration>